html {
    background-color: white;
}

body {
    width: 100%;
    margin: 0 auto;
}

button {
    cursor: pointer;
}

div.container ul {
    width: 100%;
    background-color: black;
    list-style-type: none;
    margin: 0;
    padding: 0;
}

div.container ul:after {
    content: "";
    display: table;
    clear: both;
}

div.container li {
    float: left;
}

div.container li.logo img {
    display: block;
    height: 40px;
    padding: 10px 20px;
    padding-left: 40px;
}

div.container li button {
    text-transform: uppercase;
    font-family: 'Nunito', sans-serif;
    font-size: 18px;
    font-weight: 600;
    color: white;
    background-color: black;
    border: none;
    padding: 18px 30px;
    outline: none;
    -webkit-transition-duration: 0.2s; /* Safari */
    transition-duration: 0.2s;
}

div.container li button:hover {
    color: black;
    background-color: white;
}

div.container li button:focus {
    padding-bottom: 13px;
    border-bottom: 5px solid white;
}

div.container li button#rom-select {
    width: 200px;
}

div.container li.icon {
    float: right;
    padding: 14px 20px;
}

img.header-icon {
    display: block;
    width: 32px;
}

img.header-icon:hover,
img.header-icon:focus {
    opacity: 0.8;
}

div.canvasWrapper {
    display: block;
    margin: 60px auto auto;
    padding: 0;
    background-color: black;
    width: 320px;
    border: 20px solid black;
    border-radius: 5%;
}

div.canvasWrapper h1 {
    display: block;
    letter-spacing: 2px;
    font-family: 'ZCOOL KuaiLe', cursive;
    font-size: 30px;
    font-weight: 600;
    color: white;
}

div.canvasWrapper h1#romHeading {
    margin: auto;
    padding-bottom: 15px;
    text-align: center;
    text-transform: uppercase;
    overflow: hidden;
}

canvas {
    display: block;
    padding: 0;
    margin: auto;
    background-color: white;
}

.pauseMenu {
    margin: 0;
    padding: 5px 0 0 0;
    list-style-type: none;
    text-align: center;
    cursor: pointer;
}

.pauseMenu li {
    display: inline-block;
}

.pauseMenu button {
    display: block;
    background: transparent;
    box-sizing: border-box;
    width: 0;
    height: 0;
    padding: 0;
    
    border-color: transparent transparent transparent white;
    transition: 100ms all ease;
    
    /* play state */
    border-style: solid;
    border-width: 15px 0 15px 25px;
}

/* pause state */
.pauseMenu button.pause {
    height: 30px;
    border-style: double;
    border-width: 0px 0 0px 25px; 
}

.pauseMenu li h1 {
    margin: 0;
    padding: 10px 20px 0 20px;
    font-size: 40px;
}
