html {
    font-size: 10px;
    font-family: 'Nunito', sans-serif;
    background-color: #f3f3f3;
}

body {
    width: 100%;
    margin: 0 auto;
    background-color: #f3f3f3;
}

button {
    font-family: inherit;
    font-size: 1em;
}

.menu-buttons {
    width: 100%;
    background-color: white;
    display: flex;
}

.menu-buttons ul {
    padding: 10px;
    list-style-type: none;
    flex: 2;
    display: flex;
}
  
.menu-buttons li {
    display: inline-block;
    text-align: center;
    flex: 1;
}

.menu-buttons li button {
    text-transform: uppercase;
    font-size: 16px;
}

h1 #romHeading {
    margin: 0;
    letter-spacing: 1px;
    font-size: 30px;
    text-align: center;
}

p {
    font-size: 18px;
    line-height: 2;
    letter-spacing: 1px;
}

img.header-icon {
    display: block;
    margin: 0 auto;
    width: 16px;
}

canvas {
    display: block;
    border: 10px solid #d9d9d9;
}