html {
    background-color: #ffffff;
    font-family: 'Nunito', sans-serif;
    font-size: 18px;
    font-weight: 400;
}

body {
    width: 100%;
    margin: 0 auto;
}

button {
    cursor: pointer;
}

/*
Top row of buttons
*/
.top-bar ul {
    width: 100%;
    background-color: #2d3142;
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.top-bar ul:after {
    content: "";
    display: table;
    clear: both;
}

.top-bar li {
    float: left;
}

.top-bar li.logo img {
    display: block;
    height: 40px;
    padding: 10px 20px;
    padding-left: 40px;
}

.top-bar li button {
    text-transform: uppercase;
    font-family: 'Nunito', sans-serif;
    font-size: 18px;
    font-weight: 600;
    color: #ffffff;
    background-color: inherit;
    border: none;
    padding: 18px 30px;
    outline: none;
    -webkit-transition-duration: 0.2s; /* Safari */
    transition-duration: 0.2s;
}

.top-bar li button:hover {
    color: #ffffff;
    background-color: #ef8354;
}

.top-bar li button:focus {
    padding-bottom: 13px;
    border-bottom: 5px solid #ffffff;
}

.top-bar li button#rom-select {
    width: 200px;
}

.top-bar li.icon {
    float: right;
    padding: 14px 20px;
}

img.github-icon {
    display: block;
    width: 32px;
}

img.github-icon:hover,
img.github-icon:focus {
    opacity: 0.8;
}

/* 
Gameboy section
*/
.canvasWrapper {
    display: block;
    margin: 60px auto auto;
    padding: 0;
    background-color: #2d3142;
    width: 320px;
    border: 20px solid #2d3142;
    border-radius: 5%;
}

.canvasWrapper h1 {
    display: block;
    letter-spacing: 2px;
    font-family: 'ZCOOL KuaiLe', cursive;
    font-size: 30px;
    font-weight: 600;
    color: #ffffff;
}

.canvasWrapper h1#romHeading {
    margin: auto;
    padding-bottom: 15px;
    text-align: center;
    text-transform: uppercase;
    overflow: hidden;
}

canvas {
    display: block;
    padding: 0;
    margin: auto;
    background-color: white;
}

/* Pause play button */
.pauseMenu {
    margin: 0;
    padding: 5px 0 0 0;
    list-style-type: none;
    text-align: center;
    cursor: pointer;
}

.pauseMenu li {
    display: inline-block;
}

.pauseMenu button {
    display: block;
    background: transparent;
    box-sizing: border-box;
    width: 0;
    height: 0;
    padding: 0;
    
    border-color: transparent transparent transparent white;
    transition: 100ms all ease;
    
    /* play state */
    border-style: solid;
    border-width: 15px 0 15px 25px;
}

/* pause state */
.pauseMenu button.pause {
    height: 30px;
    border-style: double;
    border-width: 0px 0 0px 25px; 
}

.pauseMenu li h1 {
    margin: 0;
    padding: 10px 20px 0 20px;
    font-size: 40px;
}

/*
Instructions
*/

kbd {
    background-color: #eee;
    border-radius: 3px;
    border: 1px solid #b4b4b4;
    box-shadow: 0 1px 1px rgba(0, 0, 0, .2), 0 2px 0 0 rgba(255, 255, 255, .7) inset;
    color: #333;
    display: inline-block;
    font-size: .85em;
    font-weight: 700;
    line-height: 1;
    padding: 2px 4px;
    white-space: nowrap;
}

.modal {
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    position: absolute;
    top: 0;
    justify-content: center;
    align-items: center;
    display: none;
}

.modal.pressed {
    display: flex;
}

.modal-content {
    width: 550px;
    height: 480px;
    background-color: #ffffff;
    border-radius: 5px;
    text-align: center;
    padding: 20px;
    position: relative;
    line-height: 2;
}

.modal-content h2 {
    margin: 15px 0 0;
}

.modal-content ol {
    text-align: left;
    margin: 0;
}

/* .close {
    position: absolute;
    top: 0;
    right: 14px;
    font-size: 42px;
    font-weight: 600px;
    cursor: pointer;
}

.close:hover {
    opacity: 0.6;
} */

.container {
    display: flex;
    justify-content: space-evenly;
}